/.nfs0000000076732a3f00009ad8
/.nfs0000000078149c1200002253
/.nfs0000000078149e1000002a02
/.pp.C.swp
/.uuid
/.~lock.new_Delta_p.pdf#
/August19_check.root
/CheckNtuple.C
/CreateTemplates.C
/CreateTemplates_2DHistos.C
/D0_updates_0312.txt
/D0_updates_0315.txt
/D0info.txt
/July24_check.root
/LcD0ratio
/LcD0ratio.C
/LcD0ratio.CAbby
/LcD0ratio.C_ORG
/LcD0ratio1
/LcD0ratio_org.C
/MakeSingleParticleMassPlots.C
/MakeSingleParticleMassPlots_5bins.C
/MakeSwapAndMassPlots_5bins.C
/Makefile
/Makefile.inc
/Makefile_original.inc
/README.txt
/SignalSwapOnly.C_bkup
/SingleParticleMass.root
/SingleParticleMass100Bin.root
/SingleParticleMass_updated20August.root
/TF1_noskip.root
/TF1_outputs_06Nov_swap_mean.root
/TF1_outputs_100_25Oct.root
/TF1_outputs_10k.root
/TF1_outputs_1k.root
/TF1_outputs_1k_17Oct.root
/TF1_outputs_1k_25Oct.root
/TF1_outputs_1k_2guas_pol2bkg.root
/TF1_outputs_28Oct_swap_mean.root
/TF1_outputs_Sept19.root
/TF1_outputs_Sept23.root
/TF1_outputs_Sept25.root
/TF1_outputs_Sept30.root
/TF1_outputs_bin1_10k.root
/TF1_outputs_skippingswap.root
/TH2F_massPlots.root
/TH2F_massPlots.root_bkup
/TH2F_massPlots_100Bin.root
/TH2F_massPlots_50bin.root
/TH2F_massPlots_original_wrong.root
/TH2F_massPlots_withBins.root
/TH2F_massPlots_withBins_10k.root
/TH2F_massPlots_withBins_10k_nosignal.root
/TH2F_massPlots_withBins_nobkg.root
/TH2F_noskip.root
/TH2F_output_10k.root
/TH2F_output_1k.root
/TH2F_output_1k_noswap.root
/TH2F_output_bin1_10k.root
/TH2F_output_phyprocess_bad.root
/TH2F_output_withbins_30Sept.root
/all_hepmc_analysis_for_phi_correlation
/all_hepmc_analysis_for_phi_correlation.C
/atest.root
/background_only.root
/beforeHepLcD0ratio.C
/bell_updateCreateTemplates.C
/bin1.root
/canvasloop.C
/check.exe
/closure_test_001_03June.root
/closure_test_01_03June.root
/closure_tests_2dmass_dphi_11June.root
/closure_tests_2dmass_dphi_withswap_11June.root
/closure_tests_2dmass_dphi_withswap_11June_within3sigma.root
/copy_mergedfile.root
/copyhist_loop.C
/data_files
/dphi_bin_hepmc_analysis_for_phi_correlation.C
/dphi_bins_SignalSwapOnly.C
/drawPt.C
/err
/garbage
/garbage_200.root
/grabge
/hepmc_analysis
/hepmc_analysis.C
/hepmc_analysis_for_phi_correlation
/hepmc_analysis_for_phi_correlation.C
/hepmc_analysis_phi_correlataion_single_pair.C
/hepmc_analysis_to_find_signal
/hepmc_analysis_to_find_signal.C
/hepmc_analysis_to_find_signal5
/hist_loop
/hist_loop.C
/histograms_pdf_July29.root
/histos.root
/list_small.txt
/log
/newBkg.root
/new_analysis.C
/old.root
/oo.C
/oo.root
/original_hepmc_analysis_for_phi_correlation
/original_hepmc_analysis_for_phi_correlation.C
/original_hepmc_analysis_to_find_signal
/original_hepmc_analysis_to_find_signal.C
/original_new_production.list
/original_submission.py
/out.root
/output
/output.list
/output.pdf
/pdfs
/phi_corr_August13.root
/phi_corr_out 02August.root
/phi_corr_out_11July_newProductionFinal.root
/phi_corr_out_August02.root
/phi_corr_out_August08_nbin20.root
/phi_corr_out_August08_nbin20_noswap.root
/phi_corr_out_August12_SignalAndSwap.root
/phi_corr_out_August12_SignalOnly.root
/phi_corr_with_single_particle_mass.root
/phi_corr_without_close_to_zero.root
/plot_histograms.C
/production_hepmc_list_0516.list
/pt_histos_plots.C
/root_slurm_D0histo.py
/run
/scaleHistograms.C
/siidebandslimits_99.root
/siidebandslimits_99_check.root
/siidebandslimits_99_noskip.root
/siidebandslimits_99_skippingswap.root
/singlecanvas.C
/slum_sub_Lc.py
/small_list.list
/sorted.list
/temp
/temp.C
/temp1
/temp1.C
/temp1_5bins.C
/temp2_999
/temp3_999
/temp4_999
/temp5_999
/temp6_999
/temp_2_999.sub
/temp_5bins.C
/templates_out.root
/test.list
/test.root
/test_0.root
/updateCreateTemplates.C